@page "/calendarioCitas"
@using System.Globalization

<SchedulerFilter OnFilterSelected="FilterCitasByMedicoOrPaciente" OnDatesFilterSelected="FiltarCitasByDates" />

<ErrorBoundary>
   <RadzenScheduler TItem="CitaCalendarDto"
                    Data="_citasCalendar" StartProperty="FechaInicio"
                    EndProperty="FechaFin"
                    TextProperty="InfoCita"
                    SlotSelect="@OnSlotSelect"
                    AppointmentRender="@OnCitaRender"
                    LoadData="@(LoadCitas)"
                    class="w-100 mt-3" @ref="@_scheduler"
                    Culture="CultureInfo.CurrentCulture"
                    TodayText="Hoy" Style="height: 80vh;">
      <Template Context="data">
         <div class="w-100 h-100 cita-card"
              @onclick="@(args => ShowContextMenuWithContent(args, data))"
              @oncontextmenu=@((args) => ContextMenuService.Dispose())
              @oncontextmenu:preventDefault="true">
            @foreach (var item in data.InfoCita.Split("."))
            {
               <span>@item</span>
               <br />
            }
         </div>
      </Template>
      <ChildContent>
         <RadzenMonthView MoreText="Ver más" Text="Mes" />
         <RadzenWeekView TimeFormat="HH:mm" Text="Semana" />
         <RadzenDayView TimeFormat="HH:mm" Text="Día"
                        StartTime="@(new TimeOnly(7,00).ToTimeSpan())" />
      </ChildContent>
   </RadzenScheduler>
</ErrorBoundary>

@code {
   private RenderFragment<CitaCalendarDto> DisplayCitaEstadosMenu => cita => __builder =>
      {
      <RadzenMenu Click="@(args => OnMenuItemClick(args, cita))">
         <RadzenMenuItem Text="Cerrar" Icon="cancel" Value=@("close") />
         <RadzenMenuItem Path=@($"citaEditar/{cita.Id}") Text="Editar Cita" Icon="edit" />
         <RadzenMenuItem Text="Eliminar Cita" Icon="delete" Value="cita.Id" />
         <RadzenMenuItem Text="Estados" Icon="pending_actions">
            @foreach (var estado in Sd.ListadoEstadosCita)
               {
                  if (estado == cita.Estado)
                  {
                  <RadzenMenuItem Text="@estado" Value="@estado" class="estado-checked" />
                  }
                  else
                  {
                  <RadzenMenuItem Text="@estado" Value="@estado" />
                  }
               }
         </RadzenMenuItem>
      </RadzenMenu>
      };
}