@page "/calendarioCitas"
@using System.Globalization

<div id="conte-index">
  <SchedulerFilter OnFilterSelected="FilterCitasByMedicoOrPaciente"
                   OnDatesFilterSelected="FiltarCitasByDates"/>

  <ErrorBoundary>
    <RadzenScheduler TItem="CitaCalendarDto" Data="_citasCalendar"
                     StartProperty="FechaInicio" EndProperty="FechaFin"
                     TextProperty="InfoCita" SlotSelect="@OnSlotSelect"
                     SlotRender="OnSlotRender"
                     AppointmentRender="@OnCitaRender" LoadData="@(LoadCitas)"
                     class="w-100 mt-3" @ref="@_scheduler"
                     Culture="CultureInfo.CurrentCulture" TodayText="Hoy"
                     Style="height: 80vh;">
      <Template Context="data">
        <div class="w-100 h-100 cita-card" @onclick="@(args => ShowContextMenuWithContent(args, data))">
          @foreach (var item in data.InfoCita.Split("."))
          {
            <span>@item</span>
            <br/>
          }
        </div>
      </Template>
      <ChildContent>
        <RadzenMonthView Text="Mes" MoreText="Ver más"/>
        <RadzenWeekView TimeFormat="HH:mm"
                        Text="Semana"
                        StartTime="@(new TimeOnly(8, 00).ToTimeSpan())"
                        EndTime="@(new TimeOnly(21, 00).ToTimeSpan())"/>
        <RadzenDayView TimeFormat="HH:mm"
                       Text="Día"
                       StartTime="@(new TimeOnly(8, 00).ToTimeSpan())"
                       EndTime="@(new TimeOnly(21, 00).ToTimeSpan())"/>
        <RadzenYearView Text="Año" MoreText="Ver más"/>
      </ChildContent>
    </RadzenScheduler>
  </ErrorBoundary>
</div>

@code {

  private RenderFragment<CitaCalendarDto> DisplayCitaEstadosMenu => cita => __builder =>
  {
    <div>
      <RadzenMenu Click="@(args => OnMenuItemClick(args, cita))">
        <RadzenMenuItem Text="Cerrar" Icon="cancel" Value=@("close")/>
        <RadzenMenuItem Value=@("editar") Text="Editar Cita"
                        Icon="edit"/>
        <RadzenMenuItem Text="Eliminar Cita" Icon="delete" Value="cita.Id"/>
        <RadzenMenuItem Text="Estados" Icon="pending_actions">
          @foreach (var estado in Sd.ListadoEstadosCita)
          {
            if (estado == cita.Estado)
            {
              <RadzenMenuItem Text="@estado" Value="@estado"
                              class="estado-checked"/>
            }
            else
            {
              <RadzenMenuItem Text="@estado" Value="@estado"/>
            }
          }
        </RadzenMenuItem>
      </RadzenMenu>
    </div>
  };

}