@page "/actividadList"
@using MedicDate.Shared.Models.Actividad

<div class="row">
    <div class="col-12 text-start">
        <h2 class="text-primary">Actividades</h2>
    </div>
    <div class="col-12">
        <ErrorBoundary>
            <RadzenGenericGrid TItem="ActividadResponseDto" TotalCount="@_totalCount"
                               Headers="@_tableHeaders" ItemList="@_actividadList"
                               OpRoutes="@_opRoutes" OnDeleteData="@DeleteActividad"
                               PropNames="@_propNames" />
        </ErrorBoundary>
    </div>
</div>