@page "/medicoList"

<div class="row">
	<div class="col-auto col-md-6 text-start">
		<h2 class="text-radzen-secondary">Doctores</h2>
	</div>
	<div class="d-flex flex-column flex-md-row mt-3 mb-2 mb-md-0">
		<div>
			<span>Filtrar por especialidad</span>
		</div>
		<div class="ps-md-3">
			<RadzenDropDown AllowClear="true" TValue="int" Style="width:300px"
							Data="@_especialidades" AllowVirtualization="true"
							Placeholder="Seleccione" Change="@FilterByEspecialidad"
							TextProperty="NombreEspecialidad" ValueProperty="Id" />
		</div>
	</div>
	<div class="col-12">
		<RadzenGenericGrid TItem="MedicoResponse" TotalCount="@_totalCount"
		                   ItemList="@_medicoList" AllowFilter="true" FilterMode="@FilterMode.Simple" AllowCrudOps="@_allowCrudOps" OpRoutes="@_opRoutes" OnDeleteData="@DeleteMedico">
			<CustomGridCols>
				<RadzenDataGridColumn TItem="MedicoResponse" Property="Nombre" Title="Nombre"/>
				<RadzenDataGridColumn TItem="MedicoResponse" Property="Apellidos" Title="Apellidos"/>
				<RadzenDataGridColumn TItem="MedicoResponse" Property="Cedula" Title="Cédula"/>
				<RadzenDataGridColumn TItem="MedicoResponse" Property="PhoneNumber" Title="Teléfono"/>
				<RadzenDataGridColumn TItem="MedicoResponse" Property="Especialidades" Width="260px" Title="Especialidades" Filterable="false" Sortable="false">
					<Template Context="medico">
						<div class="d-flex flex-row flex-wrap">
							@foreach (var item in medico.Especialidades)
							{
								<div>
									<span class="text-radzen-secondary"
									      style="font-weight: bold;">
										@(item.NombreEspecialidad).&nbsp;&nbsp;
									</span>
								</div>
							}

						</div>

					</Template>
				</RadzenDataGridColumn>
			</CustomGridCols>
		</RadzenGenericGrid>
	</div>
</div>