@page "/especialidadList"

<div class="row">
    <div class="col-auto col-md-6 text-start">
        <h2 class="text-radzen-secondary">Especialidades</h2>
    </div>
    <div class="col-12">
	    <RadzenGenericGrid TItem="EspecialidadResponse" TotalCount="@_totalCount"
	                       Headers="@_tableHeaders" ItemList="@_especialidadList"
	                      AllowFilter="true" FilterMode="@FilterMode.Simple"
	                       AllowCrudOps="@_allowCrudOps" OpRoutes="@_opRoutes"
	                       OnDeleteData="@DeleteEspecialidad" PropNames="@_propNames"/>
    </div>
</div>