@page "/especialidadList"
@inherits EspecialidadListBase

<div class="row">
    <div class="col-auto col-md-6 text-start">
        <h2 class="text-radzen-secondary">Especialidades</h2>
    </div>
    <div class="col-12">
	    <RadzenGenericGrid TItem="EspecialidadResponse" TotalCount="@TotalCount"
	                       Headers="@TableHeaders" ItemList="@ItemList"
	                       OpRoutes="@OpRoutes" PropNames="@PropNames"
	                       OnDeleteData="@DeleteEspecialidad"/>
    </div>
</div>