@using MedicDate.Models.DTOs
@using MedicDate.Client.Helpers
@typeparam TItem
@inject IHttpRepository _httpRepository
@inject DialogService _dialogService
@inject INotificationService _notificationService

@if (PermitirOpCrud.PermitirAgregar)
{
	<div class="mb-2 row">
		<div class="col-12 text-end">
			<NavLink Match="@NavLinkMatch.Prefix" href="@RutasOp.AgregarUrl">
				<RadzenButton Text="Agregar" Icon="add"/>
			</NavLink>
		</div>
	</div>
}

@if (Listado is null)
{
	if (ListadoNull is not null)
	{
		@ListadoNull
	}
	else
	{
		<p>Cargando...</p>
	}
}
else
{
	<div class="my-3">
		<RadzenGrid @ref="_dataGrid" Count="@TotalCount" Data="@Listado"
		            LoadData="@((e) => LoadData(e, _dataGrid.CurrentPage))" AllowFiltering="@PermitirFiltrado"
		            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="@ModoFiltrado" AllowPaging="true"
		            LogicalFilterOperator="LogicalFilterOperator.Or" PageSize="@_pageSize" EmptyText="No hay datos que mostrar"
		            AllowSorting="true" PagerPosition="PagerPosition.TopAndBottom" TItem="TItem">
			<Columns>

				@if (GridPersonalizada is null)
				{
					var i = 0;

					@foreach (var propiedad in NombrePropiedades)
					{
						<RadzenGridColumn TItem="TItem" Property="@propiedad" Title="@Cabeceras[i]"/>
						i++;
					}
				}
				else
				{
					@GridPersonalizada
				}
				@if (PermitirOpCrud.PermitirEditar)
				{
					<RadzenGridColumn TItem="TItem" Context="item" Filterable="false" Sortable="false"
					                  TextAlign="@TextAlign.Center" Width="70px">
						<Template>
							<NavLink Match="@NavLinkMatch.Prefix"
							         href="@($"{RutasOp.EditarUrl}/{item.GetType().GetProperties()[0].GetValue(item)}")">
								<RadzenButton Icon="edit" ButtonStyle="@ButtonStyle.Secondary"></RadzenButton>
							</NavLink>
						</Template>
					</RadzenGridColumn>
				}
				@if (PermitirOpCrud.PermitirEliminar)
				{
					<RadzenGridColumn TItem="TItem" Context="item" Filterable="false" Sortable="false"
					                  TextAlign="@TextAlign.Center" Width="70px">
						<Template>
							<RadzenButton Icon="delete" ButtonStyle="@ButtonStyle.Danger"
							              Click="@(() => _dialogService.OpenAsync<ConfirmacionBorrar>("Borrar Registro", new Dictionary<string, object>() {{"Id", item.GetType().GetProperties()[0].GetValue(item)?.ToString()}, {"OnEliminar", OnEliminarDatos}}, new DialogOptions() {Width = "355px", Height = "184px"}))"/>
						</Template>
					</RadzenGridColumn>
				}
			</Columns>
		</RadzenGrid>
	</div>
}

@code {

	[Parameter]
	public List<TItem> Listado { get; set; }

	[Parameter]
	public string[] Cabeceras { get; set; }

	[Parameter]
	public string[] NombrePropiedades { get; set; }

	[Parameter]
	public RenderFragment ListadoNull { get; set; }

	[Parameter]
	public RenderFragment GridPersonalizada { get; set; }

	[Parameter]
	public bool PermitirFiltrado { get; set; } = true;

	[Parameter]
	public FilterMode ModoFiltrado { get; set; } = FilterMode.Simple;

	[Parameter]
	public PermitirOpCrud PermitirOpCrud { get; set; }

	[Parameter]
	public RutasOp RutasOp { get; set; }

	[Parameter]
	public EventCallback<string> OnEliminarDatos { get; set; }

	[Parameter]
	public int TotalCount { get; set; }

	private RadzenGrid<TItem> _dataGrid;
	private int _pageSize = 10;

	private async Task LoadData(LoadDataArgs args = null, int pageIndex = 0, int pageSize = 10)
	{
		string url;

		if (RutasOp.GetUrl.Contains("?"))
		{
			url = $"{RutasOp.GetUrl}&pageIndex={pageIndex}&pageSize={pageSize}";
		}
		else
		{
			url = $"{RutasOp.GetUrl}?pageIndex={pageIndex}&pageSize={pageSize}";
		}

		var response = await _httpRepository.Get<ApiResponseDto<TItem>>(url);

		if (response is null)
		{
			return;
		}

		if (response.Error)
		{
			_notificationService.ShowError("Error!", await response.GetResponseBody());
		}
		else
		{
			Listado = response.Response.DataResult;
			_pageSize = response.Response.PageSize;
			TotalCount = response.Response.TotalCount;

			if (args is not null)
			{
				var query = Listado.AsQueryable();

				if (!string.IsNullOrEmpty(args.Filter))
				{
					query = query.Where(args.Filter);
				}

				if (!string.IsNullOrEmpty(args.OrderBy))
				{
					query = query.OrderBy(args.OrderBy);
				}

				Listado = query.ToList();

				await InvokeAsync(StateHasChanged);
			}
		}
	}

	private async Task OnDropDownChange(object value)
	{
		_pageSize = (int) value;
		await LoadData(null, 0, _pageSize);
		_dataGrid.GoToPage(0);
	}

}