@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div id="conte-index">
  <h1 class="text-center text-primary">Medic Date</h1>

  @if (_citasCanceladas is null)
  {
    <CircularLoading />
  }
  else
  {
    <div class="row">
      <div class="col-md-12 my-3 order-3 order-lg-0">
        <RadzenCard Variant="Variant.Filled">
          <div class="row text-center">
            <div class="col-12 col-lg-4 mb-2 mb-lg-0">
              <NavLink href="@_initialCitasReq">
                <RadzenButton Variant="Variant.Outlined" Size="ButtonSize.Large"
                              Icon="date_range" Text="Calendario Citas" />
              </NavLink>
            </div>
            <div class="col-12 col-lg-4 mb-2 mb-lg-0">
              <NavLink href="pacienteList">
                <RadzenButton Variant="Variant.Outlined" Size="ButtonSize.Large"
                              Icon="personal_injury" Text="Listado de Pacientes" />
              </NavLink>
            </div>
            <div class="col-12 col-lg-4 mb-2 mb-lg-0">
              <NavLink href="medicoList">
                <RadzenButton Variant="Variant.Outlined" Size="ButtonSize.Large"
                              Icon="supervisor_account" Text="Listado de Doctores" />
              </NavLink>
            </div>
          </div>
        </RadzenCard>
      </div>
      <div class="col-12">
        <RadzenCard>
          <h3 class="text-secondary">
            Resúmen Mensual de Citas Registradas
            <span class="text-primary">(@DateTime.Now.Year)</span>
          </h3>
          <div class="mt-3">
            <ErrorBoundary>
              <RadzenChart>
                <RadzenColumnSeries Data="@_citasCompletadas"
                                    CategoryProperty="RegisterationDate"
                                    Title="@Sd.ESTADO_CITA_COMPLETADA"
                                    ValueProperty="TotalCitas"
                                    Fill="#3E7C17" />
                <RadzenColumnSeries Data="@_citasCanceladas"
                                    CategoryProperty="RegisterationDate"
                                    Title="@Sd.ESTADO_CITA_CANCELADA"
                                    ValueProperty="TotalCitas"
                                    Fill="#d62828" />

                <RadzenCategoryAxis FormatString="{0:MMM}" Padding="20" />
                <RadzenColumnOptions Radius="3" />
                <RadzenValueAxis>
                  <RadzenGridLines Visible="true" />
                  <RadzenAxisTitle Text="Cantidad de citas" />
                </RadzenValueAxis>
              </RadzenChart>
            </ErrorBoundary>
          </div>
        </RadzenCard>
      </div>
      <div class="col-12 my-3">
        <ErrorBoundary>
          <RadzenCard>
            <h3 class="text-secondary mb-3">
              Resúmen Mensual de Pacientes Registrados
            </h3>
            <RadzenChart>
              <RadzenLineSeries Data="@_pacientesPreviousYear"
                                CategoryProperty="RegistrationDate"
                                Title=@($"{DateTime.Now.AddYears(-1).Year}")
                                LineType="LineType.Solid"
                                ValueProperty="TotalRegisteration">
                <RadzenMarkers MarkerType="MarkerType.Circle" />
              </RadzenLineSeries>

              <RadzenLineSeries Data="@_pacientesPresentYear"
                                CategoryProperty="RegistrationDate"
                                Title=@($"{DateTime.Now.Year}")
                                LineType="LineType.Solid"
                                ValueProperty="TotalRegisteration">
                <RadzenMarkers MarkerType="MarkerType.Circle" />
              </RadzenLineSeries>

              <RadzenCategoryAxis FormatString="{0:MMM}" />
              <RadzenValueAxis>
                <RadzenGridLines Visible="true" />
                <RadzenAxisTitle Text="Pacientes Registrados" />
              </RadzenValueAxis>
            </RadzenChart>
          </RadzenCard>
        </ErrorBoundary>
      </div>
      <div class="col-md-7">
        <RadzenCard>
          <h3 class="text-secondary">
            Resúmen Trimestral de Citas Registradas
            <span class="text-primary">(@DateTime.Now.Year)</span>
          </h3>
          <ErrorBoundary>
            <RadzenChart>
              <RadzenPieSeries Data="@_citasRegisteredQuarter"
                               Title="Registradas"
                               CategoryProperty="Quarter"
                               ValueProperty="TotalCitas">
                <RadzenSeriesDataLabels Visible="true" />
              </RadzenPieSeries>
            </RadzenChart>
          </ErrorBoundary>
        </RadzenCard>
      </div>
    </div>
  }
</div>