@using MedicDate.Client.Shared.Layouts
@inject NavigationManager _navigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @{
                        _navigationManager.NavigateTo("login");
                    }
                </NotAuthorized>
                <Authorizing>
                    <p>Comprobando las credenciales del usuario...</p>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Lo sentimos, no hay nada en esta dirección</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>