@page "/usuarioList"

<div class="row">
	<div class="col-auto col-md-6 text-start">
		<h2 class="text-radzen-secondary">Usuarios del Sistema</h2>
	</div>
	<div class="d-flex flex-column flex-md-row mt-3 mb-2 mb-md-0">
		<div>
			<span>Filtrar por rol</span>
		</div>
		<div class="ps-md-3">
			<RadzenDropDown TValue="string" Style="width: 300px"
			                Data="@_roles" Placeholder="Seleccione"
			                Change="@FilterByRole" TextProperty="Nombre"
			                ValueProperty="Id" AllowClear="true"/>
		</div>
	</div>
	<div class="col-12">
		<RadzenGenericGrid TItem="AppUserResponse" TotalCount="@_totalCount"
		                   ItemList="@_usersList" AllowFilter="true"
		                   FilterMode="@FilterMode.Simple" AllowCrudOps="@_allowCrudOps" OpRoutes="@_opRoutes" OnDeleteData="@DeleteUser">
			<CustomGridCols>
				<RadzenDataGridColumn TItem="AppUserResponse" Property="Nombre"
				                      Title="Nombre"/>

				<RadzenDataGridColumn TItem="AppUserResponse" Property="Apellidos"
				                      Title="Apellidos"/>

				<RadzenDataGridColumn TItem="AppUserResponse" Property="Email"
				                      Title="Email" Width="220px"/>

				<RadzenDataGridColumn TItem="AppUserResponse" Property="PhoneNumber"
				                      Title="Teléfono" Width="130px"/>

				<RadzenDataGridColumn TItem="AppUserResponse" Title="Roles"
				                      Filterable="false" Sortable="false"
				                      Width="150px">
					<Template Context="user">
						<div class="d-flex flex-row flex-wrap">
							@foreach (var item in user.Roles)
							{
								<div>
									<span class="text-radzen-primary"
									      style="font-weight: bold;">
										@(item.Nombre).&nbsp;&nbsp;
									</span>
								</div>
							}

						</div>
					</Template>
				</RadzenDataGridColumn>

				<RadzenDataGridColumn TItem="AppUserResponse" Property="EmailConfirmed"
				                      Title="Estado Cuenta" Filterable="false"
				                      Sortable="false">
					<Template Context="user">
						@if (user.EmailConfirmed)
						{
							<span class="text-success">Activa</span>
						}
						else
						{
							<span class="text-danger">Por confirmar</span>
						}
					</Template>
				</RadzenDataGridColumn>

				<RadzenDataGridColumn TItem="AppUserResponse" Filterable="false"
				                      Sortable="false" TextAlign="@TextAlign.Center"
				                      Width="70px">
					<Template Context="user">
						@if (user.LockoutEnd > DateTime.UtcNow)
						{
							<RadzenButton Icon="lock" ButtonStyle="@ButtonStyle.Danger" Click="@(() => LockUnlock(user.Id))"></RadzenButton>
						}
						else
						{
							<RadzenButton Icon="lock_open" ButtonStyle="@ButtonStyle.Success" Click="@(() => LockUnlock(user.Id))"></RadzenButton>
						}
					</Template>

				</RadzenDataGridColumn>
			</CustomGridCols>
		</RadzenGenericGrid>
	</div>
</div>